.orders-list {
  padding: 20px 0 150px 0;

  &-stats {
    margin: 20px 0;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    app-orders-list-item {
      width: 100%;
      cursor: pointer;
    }
  }
}

.app-country-selection-wrapper {
  position: fixed;
  bottom: 40px;
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: center;
}