.content {
  max-width: 800px;
  margin: auto;
}

mat-toolbar-row {
  gap: 10px;

  a {
    color: white;
    text-decoration: none;
    font-weight: normal;

    &.active-link {
      font-weight: bold;
    }
  }
}